{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<br>
      <h3>{% trans "Create A User Account" %}</h3>
  
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        {{ form| crispy}}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <button class="btn right mt-4" type="submit">{% trans "Sign Up" %}</button>
      </form>
      <div class="col-md-8 mt-5">

        <p>{% blocktrans %} Already have an account? <a class="link" href="{{ login_url }}">Sign
            In</a>{% endblocktrans %}</p>
      </div>

{% endblock %}
