@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.logo {
    font-family: 'Racing Sans One';
    font-size: 1.9rem;
    font-weight: 600;
    color: #cf4b1f;
}

/* Footer */
.social-link {
    display: flex;
    justify-content: center;

}
.social-link a {
    text-decoration: none;
}
.social-link > li{
    display: inline;
    margin: 0.3%;
    padding: 0.3%;
}
.social-link i {
    list-style-type: none;
    font-size: 120%;
    color: #353434;
   
}
/* .news-content {
    text-align:left;

} */

.display-date {
    text-align: center;
    margin: 10px;
    font-size: 0.9rem;
    font-weight: 600;
  }




