{% extends "base.html" %}

{% block content %}

    <div class="section">
        <div class="container">

            <div class="text-center mt-8">
                <h2> News title</h2>
                <p>Created Date March.12.2023 | Category </p>
                <p> News Overview goes here ...</p>
            </div>

            <div class="text-center mt-8 image-container">
                <img src="https://media.istockphoto.com/id/1182477852/photo/breaking-news-world-news-with-map-backgorund.jpg?s=612x612&w=0&k=20&c=SQfmzF39HZJ_AqFGosVGKT9iGOdtS7ddhfj0EUl0Tkc=" 
                alt="News Image">
            </div>

            <div class="news-content row mt-5">
                <div class="col-lg-8 mx-auto">
                <p>
                    Ribberink and I had met up in Grote Markt, the 15th-Century cobbled square at the heart of the
                    Nijmegen, so she could show me how the city punches above its weight. As we strolled past
                    traditional Dutch townhouses, I breathed the clean, fresh air. One of the mainstreets – Lange
                    Hazelstraat, the oldest street in the Netherlands – was lined with independent shops, vintage
                    boutiques and vegan and vegetarian eateries. I was struck by the potted olive trees lining the
                    litter-free streets, people cycling past on e-bikes and surprisingly few chain shops.

                    Nijmegen was awarded the title of European Green Capital in 2018, but its progressive roots go back
                    much further. The city has a long history of student activism. It was the centre of Dutch
                    counterculture and protesting back in the 1960s until the mid '80s. In 1963, the Dutch National
                    Student Trade Union Movement was founded here by a student from Nijmegen, named Ton Regtien. By the
                    1970s, it had become the setting for other socialist gatherings, like women's groups and communes.
                    And today its sustainable values continue to thrive thanks to its large student population.
                </p>
                </div>

            </div>



        </div>
    </div>

{%endblock%}