{% extends "base.html" %}
{% block content %}
{% load static %}


<div class="container my-container h-100">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <strong class="warning">Importent!</strong>
                <br>
                <br>
                <p>Are you sure to <span id="delete-txt">Delete</span> this news post?</p>
                <button class="btn btn-secondary">Delete</button>
            </form>
        </div>
    </div>
</div>
{%endblock%}