{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                <!-- Card's code from Bootstrap  -->
                {% for article in article_list %}
                <div class="card">
                    <img class="card-img-top" src="..." alt="News Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.news_title}}</h5>
                      <p class="card-text">{{ article.news_overview | safe}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{%endblock%}