{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                <!-- Cards code from Bootstrap  -->
                <div class="card">
                    <img class="card-img-top" src="..." alt="News Image">
                    <div class="card-body">
                        <h5 class="card-title">News title</h5>
                      <p class="card-text"> News Overview goes here ..</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}